::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #464646; 
}

::-webkit-scrollbar-thumb {
    background: #2b2b2b; 
}

::-webkit-scrollbar-thumb:hover {
    background: #252526; 
}

body {
    background-color: #252526;
    color: #ffffff;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #464646;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
}

#logo {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

#header-title {
    margin-left: 5px;
    font-size: 20px;
}

.tabs-header {
    height: 60px;
    width: 100%;
    background-color: #2b2b2b;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: fixed;
    top: 60px;
    z-index: 2;
}

.tabs-header::-webkit-scrollbar {
    display: none;
}

.tab {
    height: 100%;
    width: 200px;
    min-width: 200px;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    border-right: solid 1px #252526;
    justify-content: space-around;
    cursor: pointer;
}

.tab a {
    text-decoration: none;
}

.tab:hover {
    background-color: #2b2b2b;
}

.tab.active {
    background-color: #252526;
}

.tab-title {
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.tab-platform {
    font-size: 10px;
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.tab-platform:hover {
    color: #534eda;
    text-decoration: underline;
}

.content {
    position: relative;
    top: 120px;
    z-index: 1;
}

.tab-content {
    display: none;
    padding: 10px;
}

.tab-content.active {
    display: block;
}

.progress-bar {
    height: 10px;
    max-width: 500px;
    background-color: #2b2b2b;
    border: #2b2b2b 1px solid;
}

.progress-bar-fulfilled-ml-engineer {
    height: 100%;
    width: 12%;
    background-color: #534eda;
    border-right: #322f92 1px solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 11px;
}

.tab-content li {
    max-width: 1250px;
    text-align: justify;
    text-justify: inter-word;
}

.tab-content p {
    max-width: 1250px;
    text-align: justify;
    text-justify: inter-word;
}

.code-block {
    background-color: #1e1e1e;
    border-radius: 4px;
    color: #d4d4d4;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 1.5em;
    margin: 20px 0;
    padding: 10px 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 500px;
}

.code-block::-webkit-scrollbar {
    display: none;
}

.code-block .keyword {
    color: #569cd6;
}

.code-block .function {
    color: #dcdcaa;
}

.code-block .variable {
    color: #9cdcfe;
}

.code-block .value {
    color: #feb69c;
}

.code-block .comment {
    color: #6a9955;
    font-style: italic;
}

.table-of-contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#table-of-contents-title {
    margin-bottom: 0;
}

#table-of-contents-link {
    margin-top: 0;
    text-decoration: none;
    color: #ffffff;
}

#table-of-contents-link:hover {
    color: #534eda;
    text-decoration: underline;
}

.chapter {
    margin-bottom: 30px;
}

.chapter-content {
    display: none;
}

.chapter-content.open {
    display: block;
}

.chapter h2:hover {
    color: #534eda;
    text-decoration: underline;
}

.project {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

#project-logo {
    width: auto;
    height: 75px;
    filter: grayscale(100%);
}

#project-logo:hover {
    filter: grayscale(0%);
}

.project-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

.project-content a, p {
    margin: 0;
    max-width: 1100px;
}

.project-content a {
    text-decoration: none;
    color: #ffffff;
}

.project-content a:hover {
    color: #534eda;
    text-decoration: underline;
}

.project-content p:nth-child(2) {
    margin-top: 5px;
    font-size: 8px;
}

#math {
    font-family: math;
    font-style: italic;
}